.accordion{
    width: 90%;
    border: 3px black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    
}
.accordion-header{
    width: 98%;
    border: 3px black;
}

.accordion-item{
    width: 50%;
    min-width: 300px;
}
.accordion-button{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
h4{
    width: 100%;
    text-align: center;
    margin: auto;
}